# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ide files
.idea
.vscode

# compilation artifacts
out/
/.computed/
*.so

# result artifacts
results/

# logfiles
.cmdenv-log

# temp files
*.tmp
*.swp

# omnetfiles
.qtenvrc
/src/Makefile

# message files
*_m.h
*_m.cc
